on:
  push:
    branches:
      - main

jobs:
  build_and_push:
    runs-on: ubuntu-latest

    permissions:
      contents: read
      packages: write

    strategy:
      matrix:
        project:
          - "007-gt"
          - "009"
        platform:
          - linux/amd64
          - linux/arm64

    steps:
      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Checkout
        uses: actions/checkout@v3

      - name: Build image
        uses: docker/build-push-action@v3
        with:
          context: ${{ github.workspace }}/sch/Web/${{ matrix.project }}
          file: ${{ github.workspace }}/docker/Dockerfile.laravel
          tags: ghcr.io/aspiand/web:${{ matrix.project }}
          platforms: ${{ matrix.platform }}
          push: true