on:
  push:
    branches:
      - main

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        project:
          - 007-gt
          - 009

    steps:
      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Checkout
        uses: actions/checkout@v3

      - name: Build image
        uses: docker/build-push-action@v3
        with:
          context: ./sch/Web/${{ matrix.project }}
          dockerfile: ./sch/Web/Dockerfile
          push: true
          tags: ghcr.io/aspiand/web:${{ matrix.project }}